body{
  background-color: #212121;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}
.soon{
  color: #c99376;
}
.logo{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 306px;
  height: 55px;
  text-align: center;
}
.quote{
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}