.svg-sprite-icon{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 5px;
  &>div{
    transition: all 500ms;
    transform: scale(1);
  }
  &:hover div{
    transform: scale(1.20);
  }
}
