.svg-sprite--logo {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -2px;
    width: 228px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -21px;
    width: 19px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -23px -21px;
    width: 19px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--Be_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -44px -21px;
    width: 18px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--Be_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -64px -21px;
    width: 18px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--facebook_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -34px;
    width: 9px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--facebooks_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -13px -34px;
    width: 9px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--ok_share {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -24px -34px;
    width: 10px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vk_share {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -84px -21px;
    width: 17px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--google_share {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -36px -34px;
    width: 15px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--facebook_share {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -53px -34px;
    width: 7px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--twitter_share {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -62px -34px;
    width: 14px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--linkedin_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -2px -54px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -17px -54px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--inst_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -32px -54px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--linkedin_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -47px -54px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vimeo_beige {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -62px -54px;
    width: 13px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}
.svg-sprite--vimeo_grey {
    background-image: url("../img/sprites/svg/svg-sprite.svg");
    background-position: -77px -54px;
    width: 13px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 232px 69px;
    .no-svg & {
        background-image: url("../img/sprites/svg/svg-sprite.png");
    }
}

