/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/

/* Third party */
@fa-font-path:        "./fonts"; // Path to fonts in Font-Awesome


//COLORS
@blue: #1badc3;
@blue-dark: #0a8193;

@green: #61b946;
@green-dark: #349f13;

@red: #d83043;
@red-dark: #b4091d;

@magenta: #eb277b;

@gray-light: #f5f5f5;
@gray: #636161;
@gray-dark: #454545;

//SIZES

@mobile: 767px;
@minh: 800px;
@minminh: 730px;